header h1 {
    display: flex;
    align-items: center;
}

table {
    border: 0.1em solid;
    border-radius: 3px;
    margin: 1em;
    padding: 1em;
}

td {
    padding:  0.25em;
}

button {
    display: inline-block;
    width: 3em;
    height: 3em;
}
